a {
        text-decoration: none;
        transition: color 0.3s ease-in-out;
}

a,
button {
        border-radius: $border-radius-pill !important;
}

[id] {
        scroll-margin-top: $scroll-offset;
}

.text-red {
        color: red;
}

// Class for using the same width of characters in text (e.g. phone numbers)
.text-tnum {
        font-feature-settings: 'tnum';
}

/* Example of using responsive-size mixin for font-size, border and box-shadow
.responsive-size {
    padding: 10px;
    @include responsive-size(font-size, 32, 72, lg);
    @include responsive-size(border, 10, 50, md, solid $primary);
    @include responsive-size(box-shadow, 0, 20, md, inset 0 0, 10px rgba($black, 50%));
}*/

.app-title {
        @include responsive-size(font-size, 30, 60, lg);
        &--navigation {
                font-size: 1.125rem;
                @include media-breakpoint-only(lg) {
                        font-size: 0.875rem;
                }
        }
}

.app-text-primary {
        @include responsive-size(font-size, 16, 22, lg);
        &--22-32 {
            @include responsive-size(font-size, 22, 32, lg);
        }
}

.app-text-small {
        font-size: 0.75rem;
}

.app-header {
        &,
        & * {
                @include responsive-size(font-size, 40, 60, lg);
                text-align: center;
        }
        &--line {
                display: inline-block;
                position: relative;
                z-index: 1;
                &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        height: 1.5rem;
                        background-color: $accent;
                        bottom: 0.25rem;
                        z-index: -1;
                }
        }
}

/*
* Mobile table fix
* Try to use media-breakpoint-up mixin, because media-breakpoint-down does not correspond to the mobile first approach.
* Here it is used specifically to override the default bootstrap styles.
*/
.app-table-mobile {
        tbody {
                tr {
                        td,
                        th {
                                @include media-breakpoint-down(sm) {
                                        display: block;
                                }

                                &:first-child {
                                        @include media-breakpoint-down(sm) {
                                                padding-bottom: 0 !important;
                                                border-bottom-width: 0 !important;
                                        }
                                }
                        }
                }
        }
}

.app-lightcountdown {
        @include responsive-size(font-size, 16, 24, lg);
}

/*
* Custom bootstrap button variant example
* Accent variable is set in scss vars file
*/
.app-btn-accent {
        @include button-variant($accent, $accent);
}

.app-bg {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        &--lg-50vh {
                height: auto;
                @include media-breakpoint-down(lg) {
                        height: 50vh !important;
                }
        }
        &--cover {
                background-size: cover;
        }
        &--blur {
                position: relative;
                z-index: 1;
                &:after {
                        content: '';
                        position: absolute;
                        inset: 0;
                        background-color: $white;
                        opacity: 0.9;
                        z-index: -1;
                }
        }
}

.app-img-wrap {
        width: 100%;
        aspect-ratio: 1/1;
        overflow: hidden;
        & img {
                object-fit: cover;
        }
}

.app-bg-attachment {
        background-attachment: fixed;
}

.app-dropdown-height {
    max-height: 12.5rem;
}