@include font-face('Montserrat', 'Montserrat-Medium', 500);
@include font-face('Montserrat', 'Montserrat-Bold', 700); /* Do not add sans-serif at the end */

// Determining the weight of a name

// 100	Thin (Hairline)
// 200	Extra Light (Ultra Light)
// 300	Light
// 400	Normal (Regular)
// 500	Medium
// 600	Semi Bold (Demi Bold)
// 700	Bold
// 800	Extra Bold (Ultra Bold)
// 900	Black (Heavy)
