/*
 * Mixin example with breakpoint
 */
// @include media-breakpoint-up(lg) {
// 	Breakpoint styles
// }

.section-width-block {
        @include media-breakpoint-up(xl) {
                width: 50%;
        }
}

.section-cards {
        transition: all 0.3s ease-in-out !important;
        &:hover {
                $box-shadow-lg: 0 0.7rem 0.9rem rgba($black, 0.8);
                box-shadow: $box-shadow-lg !important;
        }
}
