/*
 * Mixin example with breakpoint
 */
// @include media-breakpoint-up(lg) {
// 	Breakpoint styles
// }

.section-width-block {
        @include media-breakpoint-up(xl) {
                width: 50%;
        }
}
