/*
 * Bootstrap variable reassignment
 */

/* Import the bootstrap modules needed to change the variables */
//@import 'bootstrap/scss/functions';
//@import 'bootstrap/scss/mixins';

/* Colors */

$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
$black: #000;
$accent: #ff630f;

$theme-colors: (
        'primary': $primary,
        'secondary': $secondary,
        'success': $success,
        'info': $info,
        'warning': $warning,
        'danger': $danger,
        'light': $light,
        'dark': $dark,
        'accent': $accent,
);

/*
 * User variables
 */
$scroll-offset: 59px;

/* Font-family */
$font-family-sans-serif: 'Montserrat', sans-serif;

/* Shadows */
$focus-ring-opacity: 0.25;
$focus-ring-color: rgba($accent, $focus-ring-opacity);
$enable-shadows: true;
$box-shadow-lg: 0 0.3rem 0.5rem rgba($black, 0.6);

/* Grid breakpoint */
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
        xxxl: 1450px,
);

/* Accordion */
$accordion-button-active-color: $secondary;

$accordion-padding-y: 1.25rem;
$accordion-padding-x: 0;

$accordion-icon-width: 1.8rem;
$accordion-icon-color: $secondary;
$accordion-icon-active-color: $secondary;

$input-focus-border-color: $accent;
$accordion-button-focus-border-color: none;

$accordion-button-focus-border-color: none;
$accordion-button-active-bg: none;
$accordion-border-width: 0;
$accordion-border-color: 0;

$btn-focus-box-shadow: 0;
$accordion-button-focus-box-shadow: $btn-focus-box-shadow;
$accordion-icon-transform: rotate(-45deg);

$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$accordion-icon-color}' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$accordion-icon-color}' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/></svg>");

/* Modal */
$modal-xl: 1290px ;