/*
 * Bootstrap variable reassignment
 */

/* Import the bootstrap modules needed to change the variables */
//@import 'bootstrap/scss/functions';
//@import 'bootstrap/scss/mixins';

/* Colors */

$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
$black: #000;
$accent: #ff630f;

$theme-colors: (
        'primary': $primary,
        'secondary': $secondary,
        'success': $success,
        'info': $info,
        'warning': $warning,
        'danger': $danger,
        'light': $light,
        'dark': $dark,
        'accent': $accent,
);

/*
 * User variables
 */
$scroll-offset: 59px;

/* Font-family */
$font-family-sans-serif: 'Montserrat', sans-serif;

/* Shadows */
$enable-shadows: true;
$box-shadow-lg: 0 0.3rem 0.5rem rgba($black, 0.6);

/* Grid breakpoint */
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
        xxxl: 1450px,
);
