.lightcountdown {
    &__container {
        font-weight: 700;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    &__digits {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    &__digit {
        display: flex;
        justify-content: center;
        margin: 0 1px 0;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        width: 2em;
        background-color: #242424;
        border: 2px solid white;
        color: white;
    }

    &__separator {
        padding-top: 0.6em;
    }

    &__text{
        margin-top: 0.5em;
        font-size: 0.5em;
        font-weight: 600;
        text-align: center;
    }
}
