name: Scooters market

on:
  push:
    branches: [main]

permissions:
  contents: read
  pages: write
  id-token: write    
    
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: action/checkout@v4
      - uses: action/setup-node@v4
        with:
          node-version: 20
      - run: npm install
      - run: npm run build
      - uses: action/upload-pages-artifact@v3
        with: 
          path: dist
      - uses: action/deploy-pages@v4    
        

